@font-face {
  font-family: 'La Flibustisre';
  src: url(https://res.cloudinary.com/areeba/raw/upload/v1650492268/La_Flibusti%C3%A8re.ttf);
}

body {
	overflow: hidden;	
}

.wedding-card {
	margin-top: 20%;
	position: relative;
	perspective: 1000px;
	width: 500px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

p {
	color: #BE8D49;
	font-family: 'Lobster', cursive;
	text-align: center;
	font-size: 14px;
}

h1 {
	font-family: 'La Flibustisre';
	color: #BE8D49;
}

.container {
	background: url('res_bluecoverT.jpg');
	object-fit: cover;
	width: 500px;
	height: 700px;
	position: absolute;
	margin-left: auto;
	border-left: 1px solid rgb(181,119,41);
	transform-origin: left center;
  	transition: 2s;   
	margin-right: auto;
}

.invite h1 {
	text-align: center;	
	font-size: 45px;
	margin-top: 0px;
	margin-bottom: 0;
	 background: -webkit-linear-gradient(#F7D182, #A16A2A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
	margin-top: 20px;
	margin-bottom: -10px; 
	width: 200px;
	border-top: 0.5px solid rgb(181,119,41) !important;
	border: none;
}

.invite {
	position: relative;
	top: -50px;
}

.border-1 {
	width: 200px;
}

.border-2 {
	width: 200px;
	transform: scaleX(-1);
	float: right;
}

.border-3 {
	width: 200px;
	transform: scaleY(-1);
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.border-4 {
	width: 200px;
	transform: scaleY(-1) scaleX(-1);
	position: absolute;
	bottom: 0px;
	right: 0px;
}

.cover {
	background: url('res_bluecoverT.jpg');
	object-fit: cover;
	width: 500px;
	height: 700px;
	transform-origin: left center;
  	transition: 2s;
  	z-index:1;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}

.cover:hover {
	 transform: rotateY(-100deg);
}

.cover-style {
	width: 500px;
	position: relative;
	margin-left: auto;
	margin-top: 20%;
}

.cover-heading {
	position: relative;
	bottom: 310px;
	left: 120px;
	font-size: 50px;
	 background: -webkit-linear-gradient(#F7D182, #A16A2A);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}